.hidden {
	display: none;
}
body {
	font-family: Arial;
	padding: 20px;
	background: url(./files/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	text-align: center;
}

.bookList {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 70%;
	border-radius: 0.5rem;
	background-color: white;
	height: 70%;
	color: white;
	font: 1.3rem Inconsolata, monospace;
	text-shadow: 0 0 5px #c8c8c8;
	overflow: scroll;
	border: 1px solid black;
}
.bookItem {
	background-color: rgb(227, 242, 252);
	border: 1px solid;
	justify-content: center;
	padding: 10px;
}

.title {
	font-size: 1.3em;
}
.author {
	float: right;
}

.exitButton {
	float: right;
}
.listNames {
	width: 75%;
}
/* .modal-dialog {
	width: 700px;
} */
button {
	margin: 2px;
}
.btn {
	font-weight: bold;
	font-size: 1.2em;
}
li {
	list-style-type: none;
}
.modal-header {
	font-weight: bold;

	font-size: 1.3em;
}

ul {
	transform: rotate(180deg);
}
ul > li {
	transform: rotate(-180deg);
}
